@mixin fontsize($size: 24){
  font-size: $size + px;
  font-size: ($size / 10) * 1rem;
}

html{
  font-size: 62.5%;
}

body{
  background-color: $base-color;
  font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif; 
  @include fontsize(16);
}

h1{
  @include fontsize(40);
}

h2{
  @include fontsize(32);
}

h3{
  @include fontsize(28);
}

p {
  @include fontsize(16);
}
